{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://exchange-api.lcx.com",
      "description": "Exchange server"
    }
  ],
  "info": {
    "description": "# Introduction\n\nLCX, the Liechtenstein Cryptoassets Exchange, is a financial technology company that is pioneering blockchain infrastructure with a regulated approach.\nLCX API documentation consists of three parts: table of contents for easy browsing (left), explanation of each API interface (middle), and example code (right). \n\nThe structure of LCX API is:\n\n- Unauthenticated API: return public information about markets and trades on LCX. Make calls to these endpoints without your API key and secret.\n  - [Market data API](/#tag/Market-API): information about the state of the market on LCX.\n  \n\n- Authenticated API: these private API enable account-specific interactions, such as placing and managing orders, viewing your account history or withdrawing assets. For these calls to succeed you must create your API key and secret and make Authenticated calls.\n  - [Trading API](/#tag/Trading-API): manage your orders and trades on LCX.\n  - [Account API](/#tag/Account-API) - information about your LCX account.\n\n- Unauthenticated Websocket: subscribe to these channels and retrieve the latest information about market data  in your Websocket callback.\n  - [Market Websocket](/#tag/Market-Websocket) -  information about the state of the market on LCX.\n  \n- Authenticated Websocket: private websocket subscription to retrieve the latest information about your trades and your account in your Websocket callback.\n  - [Trading Websocket](/#tag/Trading-Websocket): manage your orders and trades on LCX.\n\nAccess LCX API using REST or Websocket. \n\nThe Base URLs are:\n\nAPI Base URL: https://exchange-api.lcx.com/ \n\nWebsocket Base URL: wss://exchange-api.lcx.com/\n\nLCX is hosted in the EU central (Frankfurt - Germany) and Liechtenstein region.\n\n\n## API Version\n\nThe current API version is 1.1.0 . Please include the following header in the request to get the correct API behaviors.\n\n| Header      | Value   |\n| ----------- | ------- |\n| API-VERSION | 1.1.0   |\n\n\n> For those who are familiar with or prefer to reference the earlier version of our API, you can still access the previous documentation. This earlier version might be useful if you’re maintaining legacy systems or need information that was specific to that version. Please note that while we strive to keep the previous documentation updated, the most current features, updates, and support will be found in the latest version. \n\n> Access Previous Version Documentation: [LCX Exchange API v1 Documentation](https://exchange.lcx.com/v1/docs/#public-api)\n\n## Rate Limiting\n\nRate limiting restricts the number of requests made per IP address within a specific timeframe.\n\n- Market API, the maximum allowable rate is 25 requests per second per IP..\n- Trading API & Account API have a limit of 5 requests per second per IP and a maximum of 90 requests per minute per IP.\n\n\n> **Warning**: Requests that exceed these limits will return with a 429 status code.\n\n# Authentication\n\n> Snippet for generating signature(x-access-sign)\n\n```javascript\nconst CryptoJS = require('crypto-js')\nconst axios = require('axios')\nlet base_url = 'https://exchange-api.lcx.com'\nlet end_point = '/api/create'\nlet method = 'POST'\nlet api = 'ADD YOUR LCX EXCHANGE API KEY'\nlet secret = 'ADD YOUR LCX EXCHANGE SECRET KEY'\nconst EXAMPLE_PAYLOAD = {\n  OrderType: 'LIMIT',\n  Pair: 'LCX/ETH',\n  Side: 'BUY',\n  Price: 0.03033486,\n  Amount: 500,\n}\n// If No Payload, then it is important to pass empty object in EXAMPLE_PAYLOAD, ie. {}\n\nlet requestString = method + end_point + JSON.stringify(EXAMPLE_PAYLOAD)\nlet hash = CryptoJS.HmacSHA256(requestString, secret)\nlet signature = CryptoJS.enc.Base64.stringify(hash)\nlet headers = {\n  'x-access-key': api,\n  'x-access-sign': signature,\n  'x-access-timestamp': Date.now(),\n}\nlet url = base_url + end_point\naxios\n  .post(url, JSON.stringify(EXAMPLE_PAYLOAD), { headers: headers })\n  .then((result) => {\n    console.log(result)\n    // ... result\n  })\n  .catch((error) => {\n    console.log(error)\n    // ... error\n  })\n```\n\nTo use LCX Trading APIs, users are required to first gain authentication. LCX uses API keys to allow access to the API. You can register a new LCX API key at [LCX Exchange](http://exchange.lcx.com/).\n\nLCX Exchange expects the API Secret key, signature and timestamp in milliseconds to be included as headers in all API requests to the server, which looks like the following:\n\n- `x-access-timestamp` - Current timestamp in milliseconds\n- `x-access-key` - Your LCX Exchange API Key\n- `x-access-sign` - Signature signed by your LCX Exchange Secret Key\n\n# SDKs\n\nLCX SDKs let you execute advanced trading strategies from your app. All API endpoints are accessible through straightforward wrapper functions. Get market data, place orders, and manage your positions using REST or connect via WebSocket for real-time price updates and instant trade execution.\n\nAvailable SDKs for integration:\n\n- [LCX SDK for Node.js](https://www.npmjs.com/package/lcx-sdk)\n",
    "version": "1.1.0",
    "title": "LCX Exchange API Documentation",
    "termsOfService": "https://www.lcx.com/terms-of-service/",
    "contact": {
      "name": "LCX Customer Support",
      "email": "hello@lcx.com"
    },
    "x-logo": {
      "url": "./LCX_logo_blk.png",
      "altText": "LCX Logo"
    }
  },
  "tags": [
    {
      "name": "Market API"
    },
    {
      "name": "Trading API"
    },
    {
      "name": "Account API"
    },
    {
      "name": "Market Websocket",
      "description": "Market WebSocket endpoints provide real-time market data including ticker, orderbook, and trade information. \n\n**Important**: To maintain reliable WebSocket connections, you must send a ping message to the server every 60 seconds. Failure to do so may result in the connection being closed.\n"
    },
    {
      "name": "Trading Websocket",
      "description": "Trading WebSocket endpoints provide real-time updates about your account, including wallet balances, orders, and trades.\n\n**Important**: To maintain reliable WebSocket connections, you must send a ping message to the server every 60 seconds. Failure to do so may result in the connection being closed.\n"
    },
    {
      "name": "Errors",
      "description": "## Message Errors\n\nThese appear when there is an error in the code used. When this happens, an error message will be sent including the error code indicating the exact error to the user.\n"
    },
    {
      "name": "Release Notes",
      "description": "- **Version 1.1.2**\n\n  Impacted WebSockets :  \n\n  Subscribe Orderbook  \n  Topic: orderbook  \n  Change :  \n  - Response Body: The `data` field in orderbook update messages has been updated to support multiple orderbook changes in a single update. Instead of returning a single orderbook change `[price, amount, side]`, the response now returns an array of orderbook changes `[[price, amount, side], [price, amount, side], ...]`.\n\n  Subscribe Trade  \n  Topic: trade  \n  Change :  \n  - Response Body: The `data` field in trade update messages has been updated to support multiple trade executions in a single update. Instead of returning a single trade `[price, amount, side, timestamp]`, the response now returns an array of trades `[[price, amount, side, timestamp], [price, amount, side, timestamp], ...]`.\n\n  Subscribe Ticker  \n  Topic: ticker  \n  Change :  \n  - Response Body: Both snapshot and update responses now use the same unified response structure for consistency.\n\n- **Version 1.1.1**\n\n  Impacted APIs :  \n\n  New order  \n  Method: POST  \n  URL : {baseUrl}/api/create  \n  Change :  \n  - Request Body : A new optional field, ClientOrderId, has been added. If this key is not provided in the request, the backend will auto-generate a ClientOrderId of type UUID and include it in the response. \n  - Response Body: The ClientOrderId field has been included in the response body. \n\n  Cancel order  \n  Method: DELETE  \n  URL : {baseUrl}/api/cancel  \n  Change :  \n  - Response Body: The ClientOrderId field has been included in the response body. \n\n  Open orders  \n  Method: GET  \n  URL : {baseUrl}/api/open  \n  Change :  \n  - Response Body: The ClientOrderId field has been included in the response body.\n\n\n  Order  \n  Method: GET  \n  URL : {baseUrl}/api/order  \n  Change :  \n  - Response Body: The ClientOrderId field has been included in the response body. \n\n  Orders  \n  Method: GET  \n  URL : {baseUrl}/api/orderHistory  \n  Change :  \n  - Response Body: The ClientOrderId field has been included in the response body.\n\n  Impacted WebSockets:  \n\n  Subscribe orders  \n  Topic: update   \n  Change :  \n  - Response Body: The ClientOrderId field has been added to the data updates sent via WebSockets for user orders\n\n- **Version 1.1.0**  \n  We are excited to announce the release of version 1.1.0 of the LCX API. This new version includes a range of new endpoints that enhance functionality and provide our users with more detailed and robust data access. Below is a summary of the newly added APIs:\n\n  Get Tickers: Retrieve a list of tickers.  \n  Method: GET  \n  URL: {baseUrl}/api/tickers\n\n\n  Get Ticker: Obtain information about a specific ticker.  \n  Method: GET  \n  URL: {baseUrl}/api/ticker\n\n  Get OrderBook: Access the order book for a specific trading pair.  \n  Method: GET  \n  URL: {baseUrl}/api/book\n\n  Get Pairs: List all available trading pairs.  \n  Method: GET  \n  URL: {baseUrl}/api/pairs\n\n  Get Pair: Get information about a specific trading pair.  \n  Method: GET  \n  URL: {baseUrl}/api/pair\n\n  Cancel Order: Cancel an existing order.  \n  Method: DELETE  \n  URL: {baseUrl}/api/cancel\n\n  Modify Order: Modify an existing order.  \n  Method: PUT  \n  URL: {baseUrl}/api/modify\n\n  Get Order: Retrieve information about a specific order.  \n  Method: GET  \n  URL: {baseUrl}/api/order\n\n  Get User Trade History: Access the trade history of a user.  \n  Method: GET  \n  URL: {baseUrl}/api/uHistory\n\n  Get Recent Trade: Obtain recent trade information.  \n  Method: GET  \n  URL: {baseUrl}/api/trades\n\n  Get Order History: Retrieve a user's order history.  \n  Method: GET  \n  URL: {baseUrl}/api/orderHistory\n\n  Get Open Order: List all open orders for a user.  \n  Method: GET  \n  URL: {baseUrl}/api/Open\n\n  Get Balance: Check the balance of a user.  \n  Method: GET  \n  URL: {baseUrl}/api/balance\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "APIs",
      "tags": [
        "Market API",
        "Trading API",
        "Account API"
      ]
    },
    {
      "name": "Websockets",
      "tags": [
        "Market Websocket",
        "Trading Websocket"
      ]
    },
    {
      "name": "General",
      "tags": [
        "Errors",
        "Release Notes"
      ]
    }
  ],
  "security": null,
  "paths": {
    "/api/book": {
      "get": {
        "tags": [
          "Market API"
        ],
        "summary": "Order book",
        "description": "This endpoint returns the complete order book for a specified market.",
        "parameters": [
          {
            "in": "query",
            "name": "pair",
            "schema": {
              "type": "string"
            },
            "description": "Name of the pair",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/OrderBook"
                },
                "example": {
                  "data": {
                    "buy": [
                      [
                        0.022,
                        3
                      ],
                      [
                        0.02,
                        0
                      ],
                      [
                        0.018,
                        2.1
                      ]
                    ],
                    "sell": []
                  },
                  "message": "Successfully API response",
                  "status": "success"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Javascript",
            "source": "var axios = require(\"axios\");\nvar params = { pair: \"LCX/ETH\" };\n\nvar config = {\n  method: \"get\",\n  url: \"https://exchange-api.lcx.com/api/book\",\n  headers: {\n    \"Content-Type\": \"application/json\",\n  },\n  params,\n};\n\naxios(config)\n  .then(function (response) {\n    console.log(JSON.stringify(response.data));\n  })\n  .catch(function (error) {\n    console.log(error);\n  });\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://exchange-api.lcx.com/api/book\"\nparams = {\"pair\": \"LCX/ETH\"}\nheaders = {\"Content-Type\": \"application/json\"}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())\n"
          },
          {
            "lang": "Java",
            "source": "import java.io.IOException;\nimport java.net.URLEncoder;\nimport java.nio.charset.StandardCharsets;\nimport java.util.HashMap;\nimport java.util.Map;\nimport okhttp3.HttpUrl;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\npublic class Main {\n    public static void main(String[] args) throws IOException {\n        OkHttpClient client = new OkHttpClient();\n\n        String url = \"https://exchange-api.lcx.com/api/book\";\n        Map<String, String> params = new HashMap<>();\n        params.put(\"pair\", \"LCX/ETH\");\n\n        HttpUrl.Builder urlBuilder = HttpUrl.parse(url).newBuilder();\n        for (Map.Entry<String, String> entry : params.entrySet()) {\n            urlBuilder.addQueryParameter(entry.getKey(), entry.getValue());\n        }\n        String fullUrl = urlBuilder.build().toString();\n\n        Request request = new Request.Builder()\n                .url(fullUrl)\n                .addHeader(\"Content-Type\", \"application/json\")\n                .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.body().string());\n        }\n    }\n}\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n)\n\nfunc main() {\n  url := \"https://exchange-api.lcx.com/api/book\"\n  pair := \"LCX/ETH\"\n\n  resp, err := http.Get(url + \"?pair=\" + pair)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  defer resp.Body.Close()\n\n  fmt.Println(resp)\n}\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$url = \"https://exchange-api.lcx.com/api/book\";\n$params = [\"pair\" => \"LCX/ETH\"];\n$headers = [\"Content-Type: application/json\"];\n\n$ch = curl_init($url . '?' . http_build_query($params));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$response = curl_exec($ch);\n\nif (curl_errno($ch)) {\n    echo 'Error: ' . curl_error($ch);\n}\n\ncurl_close($ch);\n\necho $response;\n?>\n"
          }
        ]
      }
    },
    "/v1/market/kline": {
      "get": {
        "tags": [
          "Market API"
        ],
        "summary": "Kline (Candles)",
        "description": "This endpoint provides OHLV (Open, High, Low, Close, and Volume) data for the specified market. It displays candles for the given market within a specified timeframe, from a starting timestamp to an ending timestamp (both in seconds)",
        "parameters": [
          {
            "name": "pair",
            "in": "query",
            "description": "Name of the pair",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "Timeframe",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "3",
                "5",
                "15",
                "30",
                "45",
                "60",
                "120",
                "180",
                "240",
                "1D",
                "1W",
                "1M"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From time in UTC timestamp in seconds",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To time in UTC timestamp in seconds",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/PairCandles"
                },
                "example": {
                  "count": 3,
                  "data": [
                    {
                      "close": 1.022,
                      "high": 0.022,
                      "low": 0.021,
                      "open": 0.021,
                      "pair": "ETH/BTC",
                      "timeframe": "60",
                      "timestamp": 1605722400000,
                      "volume": 10
                    },
                    {
                      "close": 0.022,
                      "high": 0.022,
                      "low": 0.02,
                      "open": 0.021,
                      "pair": "ETH/BTC",
                      "timeframe": "60",
                      "timestamp": 1605700800000,
                      "volume": 20.8
                    },
                    {
                      "close": 0.021,
                      "high": 0.021,
                      "low": 0.02,
                      "open": 0.02,
                      "pair": "ETH/BTC",
                      "timeframe": "60",
                      "timestamp": 1605697200000,
                      "volume": 10.5
                    }
                  ],
                  "message": "Successfully Api response",
                  "status": "success"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-kline.lcx.com"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Javascript",
            "source": "var axios = require(\"axios\");\nvar params = {\n  pair: \"ETH/BTC\",\n  resolution: \"60\",\n  from: 1608129416,\n  to: 1608229416,\n};\n\nvar config = {\n  method: \"get\",\n  url: \"https://api-kline.lcx.com/v1/market/kline\",\n  headers: {\n    \"Content-Type\": \"application/json\",\n  },\n  params,\n};\n\naxios(config)\n  .then(function (response) {\n    console.log(JSON.stringify(response.data));\n  })\n  .catch(function (error) {\n    console.log(error);\n  });\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://api-kline.lcx.com/v1/market/kline\"\nparams = {\n    'pair': 'ETH/BTC',\n    'resolution': '60',\n    'from': 1608129416,\n    'to': 1608229416,\n}\n\nheaders = {\n    'Content-Type': 'application/json',\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())\n"
          },
          {
            "lang": "Java",
            "source": "import java.io.IOException;\nimport okhttp3.HttpUrl;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\npublic class Main {\n    public static void main(String[] args) throws IOException {\n        OkHttpClient client = new OkHttpClient();\n\n        HttpUrl.Builder urlBuilder = HttpUrl.parse(\"https://api-kline.lcx.com/v1/market/kline\").newBuilder();\n        urlBuilder.addQueryParameter(\"pair\", \"ETH/BTC\");\n        urlBuilder.addQueryParameter(\"resolution\", \"60\");\n        urlBuilder.addQueryParameter(\"from\", \"1608129416\");\n        urlBuilder.addQueryParameter(\"to\", \"1608229416\");\n\n        String url = urlBuilder.build().toString();\n\n        Request request = new Request.Builder()\n                .url(url)\n                .addHeader(\"Content-Type\", \"application/json\")\n                .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.body().string());\n        }\n    }\n}\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n  url := \"https://api-kline.lcx.com/v1/market/kline\"\n  pair := \"ETH/BTC\"\n  resolution := \"60\"\n  from := \"1608129416\"\n  to := \"1608229416\"\n\n  req, err := http.NewRequest(\"GET\", url, nil)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n\n  q := req.URL.Query()\n  q.Add(\"pair\", pair)\n  q.Add(\"resolution\", resolution)\n  q.Add(\"from\", from)\n  q.Add(\"to\", to)\n  req.URL.RawQuery = q.Encode()\n\n  req.Header.Add(\"Content-Type\", \"application/json\")\n\n  client := &http.Client{}\n  resp, err := client.Do(req)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  defer resp.Body.Close()\n\n  body, err := ioutil.ReadAll(resp.Body)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n\n  fmt.Println(string(body))\n}\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$url = \"https://api-kline.lcx.com/v1/market/kline\";\n$params = [\n    'pair' => 'ETH/BTC',\n    'resolution' => '60',\n    'from' => 1608129416,\n    'to' => 1608229416,\n];\n\n$options = [\n    'http' => [\n        'header' => \"Content-Type: application/json\\r\\n\",\n        'method' => 'GET',\n        'content' => http_build_query($params),\n    ],\n];\n\n$context = stream_context_create($options);\n$response = file_get_contents($url, false, $context);\n\necho $response;\n?>\n"
          }
        ]
      }
    },
    "/api/trades": {
      "get": {
        "tags": [
          "Market API"
        ],
        "summary": "Trades",
        "description": "This endpoint enables retrieval of past public trades, providing details such as price, size, and time for each trade.",
        "parameters": [
          {
            "in": "query",
            "name": "pair",
            "schema": {
              "type": "string"
            },
            "description": "Name of the pair",
            "example": "LCX/USDC",
            "required": true
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "description": "Page index, first page = 1, fixed page size = 100",
            "example": 1,
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/RecentTradeHistory"
                },
                "example": {
                  "data": [
                    [
                      0.022,
                      0.01,
                      "SELL",
                      1605725835
                    ],
                    [
                      0.021,
                      0,
                      "BUY",
                      1605722975
                    ],
                    [
                      0.022,
                      0.1,
                      "BUY",
                      1605703939
                    ],
                    [
                      0.02,
                      1,
                      "SELL",
                      1605703035
                    ],
                    [
                      0.02,
                      0.7,
                      "SELL",
                      1605703035
                    ],
                    [
                      0.021,
                      1,
                      "BUY",
                      1605702910
                    ],
                    [
                      0.021,
                      0.2,
                      "BUY",
                      1605697822
                    ],
                    [
                      0.02,
                      0.3,
                      "SELL",
                      1605697754
                    ]
                  ],
                  "message": "Successfully Api response",
                  "status": "success"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Javascript",
            "source": "var axios = require(\"axios\");\nvar params = { offset: 1, pair: \"ETH/BTC\" };\n\nvar config = {\n  method: \"get\",\n  url: \"https://exchange-api.lcx.com/api/trades\",\n  headers: {\n    \"Content-Type\": \"application/json\",\n  },\n  params,\n};\n\naxios(config)\n  .then(function (response) {\n    console.log(JSON.stringify(response.data));\n  })\n  .catch(function (error) {\n    console.log(error);\n  });\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://exchange-api.lcx.com/api/trades'\nparams = {'offset': 1, 'pair': 'ETH/BTC'}\nheaders = {\n    'Content-Type': 'application/json',\n    # Add your authentication headers here\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())\n"
          },
          {
            "lang": "Java",
            "source": "import okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\nimport java.io.IOException;\n\npublic class Main {\n    public static void main(String[] args) throws IOException {\n        OkHttpClient client = new OkHttpClient();\n\n        String url = \"https://exchange-api.lcx.com/api/trades\";\n        int offset = 1;\n        String pair = \"ETH/BTC\";\n\n        Request request = new Request.Builder()\n                .url(url + \"?offset=\" + offset + \"&pair=\" + pair)\n                .get()\n                .addHeader(\"Content-Type\", \"application/json\")\n                // Add your authentication headers here\n                .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.body().string());\n        }\n    }\n}\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n)\n\nfunc main() {\n  url := \"https://exchange-api.lcx.com/api/trades\"\n  offset := 1\n  pair := \"ETH/BTC\"\n\n  resp, err := http.Get(url + \"?offset=\" + fmt.Sprint(offset) + \"&pair=\" + pair)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  defer resp.Body.Close()\n\n  fmt.Println(resp)\n}\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$url = 'https://exchange-api.lcx.com/api/trades';\n$params = ['offset' => 1, 'pair' => 'ETH/BTC'];\n$headers = [\n    'Content-Type: application/json',\n    // Add your authentication headers here\n];\n\n$ch = curl_init($url . '?' . http_build_query($params));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$response = curl_exec($ch);\n\nif (curl_errno($ch)) {\n    echo 'Error: ' . curl_error($ch);\n}\n\ncurl_close($ch);\n\necho $response;\n?>\n"
          }
        ]
      }
    },
    "/api/pairs": {
      "get": {
        "tags": [
          "Market API"
        ],
        "summary": "Pairs",
        "description": "This endpoint provides access to details of all trading pairs available on the exchange platform.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/GetAllPairs"
                },
                "example": {
                  "data": [
                    {
                      "Id": "a08ed90e-654c-4395-8605-1599a2e8e7f6",
                      "Symbol": "POLK/BTC",
                      "Base": "POLK",
                      "Quote": "BTC",
                      "Precision": {
                        "Amount": 8,
                        "Price": 8,
                        "Total": 0
                      },
                      "Orderprecision": {
                        "Amount": 8,
                        "Price": 8,
                        "Total": 8
                      },
                      "MinOrder": {
                        "Base": 0.01,
                        "Quote": 0.00001
                      },
                      "MaxOrder": {
                        "Base": 1000,
                        "Quote": 1
                      },
                      "Status": false,
                      "CreatedAt": "2021-04-10T16:31:46.863+05:30",
                      "UpdatedAt": "2021-04-10T16:31:46.863+05:30",
                      "ListingPrice": 0,
                      "Mode": "trade"
                    }
                  ],
                  "message": "Successfully API Response",
                  "status": "success"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Javascript",
            "source": "var axios = require('axios')\n\nvar config = {\n  method: 'get',\n  url: 'https://exchange-api.lcx.com/api/pairs',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n}\n\naxios(config)\n  .then(function (response) {\n    console.log(JSON.stringify(response.data))\n  })\n  .catch(function (error) {\n    console.log(error)\n  })\n"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nurl = 'https://exchange-api.lcx.com/api/pairs'\n\nheaders = {'Content-Type': 'application/json'}\nresponse = requests.get(url, headers=headers)\n\nif response.status_code == 200:\n    print(json.dumps(response.json()))\nelse:\n    print(response.text)\n"
          },
          {
            "lang": "Java",
            "source": "import org.apache.http.HttpResponse;\nimport org.apache.http.client.methods.HttpGet;\nimport org.apache.http.impl.client.CloseableHttpClient;\nimport org.apache.http.impl.client.HttpClients;\n\nimport java.io.BufferedReader;\nimport java.io.InputStreamReader;\n\npublic class Main {\n    public static void main(String[] args) {\n        CloseableHttpClient httpClient = HttpClients.createDefault();\n        HttpGet httpGet = new HttpGet(\"https://exchange-api.lcx.com/api/pairs\");\n\n        httpGet.setHeader(\"Content-Type\", \"application/json\");\n\n        try {\n            HttpResponse response = httpClient.execute(httpGet);\n            BufferedReader rd = new BufferedReader(new InputStreamReader(response.getEntity().getContent()));\n\n            StringBuilder result = new StringBuilder();\n            String line;\n            while ((line = rd.readLine()) != null) {\n                result.append(line);\n            }\n\n            System.out.println(result.toString());\n        } catch (Exception e) {\n            e.printStackTrace();\n        }\n    }\n}\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n  url := \"https://exchange-api.lcx.com/api/pairs\"\n\n  req, err := http.NewRequest(\"GET\", url, nil)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  req.Header.Set(\"Content-Type\", \"application/json\")\n\n  client := &http.Client{}\n  resp, err := client.Do(req)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  defer resp.Body.Close()\n\nif resp.Status == \"200 OK\" {\n    // Read and print the response body\n    body, err := ioutil.ReadAll(resp.Body)\n    if err != nil {\n      fmt.Println(err)\n      return\n    }\n    fmt.Println(string(body))\n  } else {\n    fmt.Println(\"Error:\", resp.Status)\n  }\n}\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$url = 'https://exchange-api.lcx.com/api/pairs';\n\n$options = [\n    'http' => [\n        'header' => \"Content-Type: application/json\\r\\n\",\n        'method' => 'GET',\n    ],\n];\n\n$context = stream_context_create($options);\n$response = file_get_contents($url, false, $context);\n\nif ($response !== false) {\n    echo $response;\n} else {\n    echo 'Error: ' . error_get_last();\n}\n"
          }
        ]
      }
    },
    "/api/pair": {
      "get": {
        "tags": [
          "Market API"
        ],
        "summary": "Pair",
        "description": "This endpoint allows retrieval of details for a given trading pair available on the exchange platform.",
        "parameters": [
          {
            "in": "query",
            "name": "pair",
            "schema": {
              "type": "string"
            },
            "description": "Name of the pair",
            "required": true,
            "example": "LCX/USDC"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/GetPairSymbol"
                },
                "example": {
                  "data": {
                    "Id": "faafceb6-fd61-4924-8258-68aa83a196cf",
                    "Symbol": "LCX/USDC",
                    "Base": "LCX",
                    "Quote": "USDC",
                    "Precision": {
                      "Amount": 4,
                      "Price": 4,
                      "Total": 2
                    },
                    "Orderprecision": {
                      "Amount": 1,
                      "Price": 3,
                      "Total": 2
                    },
                    "MinOrder": {
                      "Base": 10,
                      "Quote": 0.05
                    },
                    "MaxOrder": {
                      "Base": 5000000,
                      "Quote": 1000000
                    },
                    "Status": true,
                    "CreatedAt": "2020-02-04T14:16:47+05:30",
                    "UpdatedAt": "2021-09-20T17:28:36.253+05:30",
                    "ListingPrice": 0,
                    "Mode": "trade"
                  },
                  "message": "Successfully API Response",
                  "status": "success"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Javascript",
            "source": "var axios = require(\"axios\");\nvar params = { pair: \"ETH/BTC\" };\n\nvar config = {\n  method: \"get\",\n  url: \"https://exchange-api.lcx.com/api/pair\",\n  params,\n  headers: {\n    \"Content-Type\": \"application/json\",\n  },\n};\n\naxios(config)\n  .then(function (response) {\n    console.log(JSON.stringify(response.data));\n  })\n  .catch(function (error) {\n    console.log(error);\n  });\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://exchange-api.lcx.com/api/pair\"\nparams = {\"pair\": \"ETH/BTC\"}\nheaders = {\"Content-Type\": \"application/json\"}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())\n"
          },
          {
            "lang": "Java",
            "source": "import java.io.IOException;\nimport java.net.URLEncoder;\nimport java.nio.charset.StandardCharsets;\nimport java.util.HashMap;\nimport java.util.Map;\nimport okhttp3.HttpUrl;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\npublic class Main {\n    public static void main(String[] args) throws IOException {\n        OkHttpClient client = new OkHttpClient();\n\n        String url = \"https://exchange-api.lcx.com/api/pair\";\n        Map<String, String> params = new HashMap<>();\n        params.put(\"pair\", \"ETH/BTC\");\n\n        HttpUrl.Builder urlBuilder = HttpUrl.parse(url).newBuilder();\n        for (Map.Entry<String, String> entry : params.entrySet()) {\n            urlBuilder.addQueryParameter(entry.getKey(), entry.getValue());\n        }\n        String fullUrl = urlBuilder.build().toString();\n\n        Request request = new Request.Builder()\n                .url(fullUrl)\n                .addHeader(\"Content-Type\", \"application/json\")\n                .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.body().string());\n        }\n    }\n}\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n)\n\nfunc main() {\n  url := \"https://exchange-api.lcx.com/api/pair\"\n  pair := \"ETH/BTC\"\n\n  resp, err := http.Get(url + \"?pair=\" + pair)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  defer resp.Body.Close()\n\n  fmt.Println(resp)\n}\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$url = \"https://exchange-api.lcx.com/api/pair\";\n$params = [\"pair\" => \"ETH/BTC\"];\n$headers = [\"Content-Type: application/json\"];\n\n$ch = curl_init($url . '?' . http_build_query($params));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$response = curl_exec($ch);\n\nif (curl_errno($ch)) {\n    echo 'Error: ' . curl_error($ch);\n}\n\ncurl_close($ch);\n\necho $response;\n?>\n"
          }
        ]
      }
    },
    "/api/tickers": {
      "get": {
        "tags": [
          "Market API"
        ],
        "summary": "Tickers",
        "description": "This endpoint enables access to a comprehensive market overview, displaying current best bid and ask prices, the latest traded price, daily volume information, and details on the previous day’s price movement. It efficiently retrieves multiple tickers with a single query, providing a holistic view of market data.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/GetAllTickers"
                },
                "example": {
                  "data": {
                    "ADA/LCX": {
                      "bestAsk": 7.8925,
                      "bestBid": 7.6924,
                      "change": -4.3,
                      "chart": [
                        {
                          "Time": 1700024400,
                          "Close": 7.7925
                        },
                        {
                          "Time": 1700020800,
                          "Close": 7.8514
                        },
                        {
                          "Time": 1700017200,
                          "Close": 8.2537
                        },
                        {
                          "Time": 1700013600,
                          "Close": 8.0844
                        },
                        {
                          "Time": 1700010000,
                          "Close": 8.1701
                        },
                        {
                          "Time": 1700006400,
                          "Close": 8.2743
                        },
                        {
                          "Time": 1700002800,
                          "Close": 8.4127
                        },
                        {
                          "Time": 1699999200,
                          "Close": 8.3796
                        },
                        {
                          "Time": 1699995600,
                          "Close": 8.4039
                        },
                        {
                          "Time": 1699992000,
                          "Close": 8.3183
                        },
                        {
                          "Time": 1699988400,
                          "Close": 8.3666
                        },
                        {
                          "Time": 1699984800,
                          "Close": 8.0046
                        },
                        {
                          "Time": 1699981200,
                          "Close": 8.2899
                        },
                        {
                          "Time": 1699977600,
                          "Close": 8.6266
                        },
                        {
                          "Time": 1699974000,
                          "Close": 8.444
                        },
                        {
                          "Time": 1699970400,
                          "Close": 8.673
                        },
                        {
                          "Time": 1699966800,
                          "Close": 8.6643
                        },
                        {
                          "Time": 1699963200,
                          "Close": 8.3803
                        },
                        {
                          "Time": 1699959600,
                          "Close": 8.3819
                        },
                        {
                          "Time": 1699945200,
                          "Close": 8.3677
                        },
                        {
                          "Time": 1699941600,
                          "Close": 8.4355
                        },
                        {
                          "Time": 1699938000,
                          "Close": 8.5026
                        },
                        {
                          "Time": 1699938000,
                          "Close": 8.1423
                        }
                      ],
                      "equivalent": 0.35996277,
                      "high": 8.68,
                      "last24Price": 8.1423,
                      "lastPrice": 7.7925,
                      "lastUpdated": 1700025221,
                      "low": 7.7616,
                      "symbol": "ADA/LCX",
                      "usdVolume": 1828.49928314,
                      "volume": 5079.69
                    },
                    "BTC/EUR": {
                      "bestAsk": 32762.6,
                      "bestBid": 32705.3,
                      "change": -3.84,
                      "chart": [
                        {
                          "Time": 1700024400,
                          "Close": 32727.7
                        },
                        {
                          "Time": 1700020800,
                          "Close": 32661.6
                        },
                        {
                          "Time": 1700017200,
                          "Close": 32563.4
                        },
                        {
                          "Time": 1699995600,
                          "Close": 32741.7
                        },
                        {
                          "Time": 1699992000,
                          "Close": 32535.6
                        },
                        {
                          "Time": 1699988400,
                          "Close": 32506
                        },
                        {
                          "Time": 1699984800,
                          "Close": 32495.2
                        },
                        {
                          "Time": 1699981200,
                          "Close": 33218.2
                        },
                        {
                          "Time": 1699977600,
                          "Close": 33444.2
                        },
                        {
                          "Time": 1699974000,
                          "Close": 33381.8
                        },
                        {
                          "Time": 1699970400,
                          "Close": 33960.2
                        },
                        {
                          "Time": 1699966800,
                          "Close": 33913.6
                        },
                        {
                          "Time": 1699963200,
                          "Close": 33958.8
                        },
                        {
                          "Time": 1699959600,
                          "Close": 33942.8
                        },
                        {
                          "Time": 1699956000,
                          "Close": 34046.8
                        },
                        {
                          "Time": 1699952400,
                          "Close": 34085.8
                        },
                        {
                          "Time": 1699948800,
                          "Close": 34309.4
                        },
                        {
                          "Time": 1699945200,
                          "Close": 34245.7
                        },
                        {
                          "Time": 1699941600,
                          "Close": 34299.5
                        },
                        {
                          "Time": 1699938000,
                          "Close": 34130.6
                        },
                        {
                          "Time": 1699938000,
                          "Close": 34021.6
                        }
                      ],
                      "equivalent": 35615.97771259,
                      "high": 34361.8,
                      "last24Price": 34033.3,
                      "lastPrice": 32727.7,
                      "lastUpdated": 1700025075,
                      "low": 32400.2,
                      "symbol": "BTC/EUR",
                      "usdVolume": 60976.33464283,
                      "volume": 1.71205
                    },
                    "ETH/BTC": {
                      "bestAsk": 0.05672,
                      "bestBid": 0.05471,
                      "change": -0.89,
                      "chart": [
                        {
                          "Time": 1699999200,
                          "Close": 0.05579
                        },
                        {
                          "Time": 1699995600,
                          "Close": 0.05571
                        },
                        {
                          "Time": 1699992000,
                          "Close": 0.05607
                        },
                        {
                          "Time": 1699988400,
                          "Close": 0.056
                        },
                        {
                          "Time": 1699984800,
                          "Close": 0.05579
                        },
                        {
                          "Time": 1699981200,
                          "Close": 0.05615
                        },
                        {
                          "Time": 1699977600,
                          "Close": 0.05638
                        },
                        {
                          "Time": 1699974000,
                          "Close": 0.05643
                        },
                        {
                          "Time": 1699970400,
                          "Close": 0.05602
                        },
                        {
                          "Time": 1699966800,
                          "Close": 0.05595
                        },
                        {
                          "Time": 1699959600,
                          "Close": 0.05607
                        },
                        {
                          "Time": 1699956000,
                          "Close": 0.05611
                        },
                        {
                          "Time": 1699952400,
                          "Close": 0.05611
                        },
                        {
                          "Time": 1699948800,
                          "Close": 0.05611
                        },
                        {
                          "Time": 1699945200,
                          "Close": 0.05616
                        },
                        {
                          "Time": 1699941600,
                          "Close": 0.05611
                        },
                        {
                          "Time": 1699938000,
                          "Close": 0.05633
                        },
                        {
                          "Time": 1699938000,
                          "Close": 0.05629
                        }
                      ],
                      "equivalent": 1985.62189,
                      "high": 0.05813,
                      "last24Price": 0.05629,
                      "lastPrice": 0.05579,
                      "lastUpdated": 1699999866,
                      "low": 0.05558,
                      "symbol": "ETH/BTC",
                      "usdVolume": 2489.96985005,
                      "volume": 1.254
                    },
                    "ETH/EUR": {
                      "bestAsk": 1824.6907,
                      "bestBid": 1822.1384,
                      "change": -5.33,
                      "chart": [
                        {
                          "Time": 1700024400,
                          "Close": 1823.1045
                        },
                        {
                          "Time": 1700020800,
                          "Close": 1822.9794
                        },
                        {
                          "Time": 1700017200,
                          "Close": 1814.6938
                        },
                        {
                          "Time": 1700013600,
                          "Close": 1817.0933
                        },
                        {
                          "Time": 1700010000,
                          "Close": 1819.4888
                        },
                        {
                          "Time": 1700006400,
                          "Close": 1826.9303
                        },
                        {
                          "Time": 1700002800,
                          "Close": 1822.7444
                        },
                        {
                          "Time": 1699999200,
                          "Close": 1831.3464
                        },
                        {
                          "Time": 1699995600,
                          "Close": 1824.9698
                        },
                        {
                          "Time": 1699992000,
                          "Close": 1818.5436
                        },
                        {
                          "Time": 1699988400,
                          "Close": 1820.364
                        },
                        {
                          "Time": 1699984800,
                          "Close": 1810.1169
                        },
                        {
                          "Time": 1699981200,
                          "Close": 1865.718
                        },
                        {
                          "Time": 1699977600,
                          "Close": 1884.9719
                        },
                        {
                          "Time": 1699974000,
                          "Close": 1882.0813
                        },
                        {
                          "Time": 1699970400,
                          "Close": 1895.7191
                        },
                        {
                          "Time": 1699966800,
                          "Close": 1893.6909
                        },
                        {
                          "Time": 1699963200,
                          "Close": 1895.514
                        },
                        {
                          "Time": 1699959600,
                          "Close": 1899.3347
                        },
                        {
                          "Time": 1699956000,
                          "Close": 1911.9563
                        },
                        {
                          "Time": 1699952400,
                          "Close": 1915.1223
                        },
                        {
                          "Time": 1699948800,
                          "Close": 1930.2159
                        },
                        {
                          "Time": 1699945200,
                          "Close": 1927.7655
                        },
                        {
                          "Time": 1699941600,
                          "Close": 1925.595
                        },
                        {
                          "Time": 1699938000,
                          "Close": 1934.5607
                        }
                      ],
                      "equivalent": 1983.99671347,
                      "high": 1934.5907,
                      "last24Price": 1925.705,
                      "lastPrice": 1823.1045,
                      "lastUpdated": 1700025080,
                      "low": 1797.3294,
                      "symbol": "ETH/EUR",
                      "usdVolume": 310027.26243367,
                      "volume": 156.264
                    },
                    "HBAR/LCX": {
                      "bestAsk": 1.2929,
                      "bestBid": 1.2668,
                      "change": -5.16,
                      "chart": [
                        {
                          "Time": 1700024400,
                          "Close": 1.2798
                        },
                        {
                          "Time": 1700020800,
                          "Close": 1.2869
                        },
                        {
                          "Time": 1700017200,
                          "Close": 1.3569
                        },
                        {
                          "Time": 1700013600,
                          "Close": 1.3317
                        },
                        {
                          "Time": 1700010000,
                          "Close": 1.3523
                        },
                        {
                          "Time": 1700006400,
                          "Close": 1.3679
                        },
                        {
                          "Time": 1700002800,
                          "Close": 1.3765
                        },
                        {
                          "Time": 1699999200,
                          "Close": 1.3648
                        },
                        {
                          "Time": 1699995600,
                          "Close": 1.3643
                        },
                        {
                          "Time": 1699992000,
                          "Close": 1.3613
                        },
                        {
                          "Time": 1699988400,
                          "Close": 1.3948
                        },
                        {
                          "Time": 1699984800,
                          "Close": 1.3541
                        },
                        {
                          "Time": 1699981200,
                          "Close": 1.3614
                        },
                        {
                          "Time": 1699977600,
                          "Close": 1.404
                        },
                        {
                          "Time": 1699974000,
                          "Close": 1.3814
                        },
                        {
                          "Time": 1699970400,
                          "Close": 1.397
                        },
                        {
                          "Time": 1699966800,
                          "Close": 1.4097
                        },
                        {
                          "Time": 1699963200,
                          "Close": 1.3731
                        },
                        {
                          "Time": 1699959600,
                          "Close": 1.3556
                        },
                        {
                          "Time": 1699956000,
                          "Close": 1.378
                        },
                        {
                          "Time": 1699952400,
                          "Close": 1.4088
                        },
                        {
                          "Time": 1699948800,
                          "Close": 1.3983
                        },
                        {
                          "Time": 1699945200,
                          "Close": 1.3936
                        },
                        {
                          "Time": 1699941600,
                          "Close": 1.3882
                        },
                        {
                          "Time": 1699938000,
                          "Close": 1.4022
                        }
                      ],
                      "equivalent": 0.05911842,
                      "high": 1.4097,
                      "last24Price": 1.3494,
                      "lastPrice": 1.2798,
                      "lastUpdated": 1700025177,
                      "low": 1.2798,
                      "symbol": "HBAR/LCX",
                      "usdVolume": 128.0623214,
                      "volume": 2166.2
                    },
                    "OP/LCX": {
                      "bestAsk": 40.26,
                      "bestBid": 39.99,
                      "change": 1.95,
                      "chart": [
                        {
                          "Time": 1700020800,
                          "Close": 41.78
                        },
                        {
                          "Time": 1700017200,
                          "Close": 41.8
                        },
                        {
                          "Time": 1700013600,
                          "Close": 40.72
                        },
                        {
                          "Time": 1700010000,
                          "Close": 41.34
                        },
                        {
                          "Time": 1700006400,
                          "Close": 42.16
                        },
                        {
                          "Time": 1700002800,
                          "Close": 42.2
                        },
                        {
                          "Time": 1699999200,
                          "Close": 42.14
                        },
                        {
                          "Time": 1699995600,
                          "Close": 41.47
                        },
                        {
                          "Time": 1699992000,
                          "Close": 40.89
                        },
                        {
                          "Time": 1699988400,
                          "Close": 40.8
                        },
                        {
                          "Time": 1699984800,
                          "Close": 40.03
                        },
                        {
                          "Time": 1699981200,
                          "Close": 40.66
                        },
                        {
                          "Time": 1699977600,
                          "Close": 42.11
                        },
                        {
                          "Time": 1699974000,
                          "Close": 41.14
                        },
                        {
                          "Time": 1699970400,
                          "Close": 42.03
                        },
                        {
                          "Time": 1699966800,
                          "Close": 41
                        },
                        {
                          "Time": 1699963200,
                          "Close": 40.59
                        }
                      ],
                      "equivalent": 1.92996401,
                      "high": 42.92,
                      "last24Price": 40.98,
                      "lastPrice": 41.78,
                      "lastUpdated": 1700020845,
                      "low": 39.99,
                      "symbol": "OP/LCX",
                      "usdVolume": 825.87019915,
                      "volume": 427.92
                    }
                  },
                  "message": "Tickers fetched successfully",
                  "status": "success"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Javascript",
            "source": "var axios = require('axios')\n\nvar config = {\n  method: 'get',\n  url: 'https://exchange-api.lcx.com/api/tickers',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n}\n\naxios(config)\n  .then(function (response) {\n    console.log(JSON.stringify(response.data))\n  })\n  .catch(function (error) {\n    console.log(error)\n  })\n"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nurl = 'https://exchange-api.lcx.com/api/tickers'\n\nheaders = {'Content-Type': 'application/json'}\nresponse = requests.get(url, headers=headers)\n\nif response.status_code == 200:\n    print(json.dumps(response.json()))\nelse:\n    print(response.text)\n"
          },
          {
            "lang": "Java",
            "source": "import org.apache.http.HttpResponse;\nimport org.apache.http.client.methods.HttpGet;\nimport org.apache.http.impl.client.CloseableHttpClient;\nimport org.apache.http.impl.client.HttpClients;\n\nimport java.io.BufferedReader;\nimport java.io.InputStreamReader;\n\npublic class Main {\n    public static void main(String[] args) {\n        CloseableHttpClient httpClient = HttpClients.createDefault();\n        HttpGet httpGet = new HttpGet(\"https://exchange-api.lcx.com/api/tickers\");\n\n        httpGet.setHeader(\"Content-Type\", \"application/json\");\n\n        try {\n            HttpResponse response = httpClient.execute(httpGet);\n            BufferedReader rd = new BufferedReader(new InputStreamReader(response.getEntity().getContent()));\n\n            StringBuilder result = new StringBuilder();\n            String line;\n            while ((line = rd.readLine()) != null) {\n                result.append(line);\n            }\n\n            System.out.println(result.toString());\n        } catch (Exception e) {\n            e.printStackTrace();\n        }\n    }\n}\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n  url := \"https://exchange-api.lcx.com/api/tickers\"\n\n  req, err := http.NewRequest(\"GET\", url, nil)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  req.Header.Set(\"Content-Type\", \"application/json\")\n\n  client := &http.Client{}\n  resp, err := client.Do(req)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  defer resp.Body.Close()\n\nif resp.Status == \"200 OK\" {\n    // Read and print the response body\n    body, err := ioutil.ReadAll(resp.Body)\n    if err != nil {\n      fmt.Println(err)\n      return\n    }\n    fmt.Println(string(body))\n  } else {\n    fmt.Println(\"Error:\", resp.Status)\n  }\n}\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$url = 'https://exchange-api.lcx.com/api/tickers';\n\n$options = [\n    'http' => [\n        'header' => \"Content-Type: application/json\\r\\n\",\n        'method' => 'GET',\n    ],\n];\n\n$context = stream_context_create($options);\n$response = file_get_contents($url, false, $context);\n\nif ($response !== false) {\n    echo $response;\n} else {\n    echo 'Error: ' . error_get_last();\n}\n"
          }
        ]
      }
    },
    "/api/ticker": {
      "get": {
        "tags": [
          "Market API"
        ],
        "summary": "Ticker",
        "description": "This endpoint enables a comprehensive market overview for a specified pair, showcasing current best bid and ask prices, the latest traded price, daily volume details, and the previous day’s price movement.",
        "parameters": [
          {
            "in": "query",
            "name": "pair",
            "schema": {
              "type": "string"
            },
            "description": "Name of the pair",
            "required": true,
            "example": "LCX/USDC"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/GetTickerSymbol"
                },
                "example": {
                  "data": {
                    "bestAsk": 7.8925,
                    "bestBid": 7.6924,
                    "change": -4.3,
                    "chart": [
                      {
                        "Time": 1700024400,
                        "Close": 7.7925
                      },
                      {
                        "Time": 1700020800,
                        "Close": 7.8514
                      },
                      {
                        "Time": 1700017200,
                        "Close": 8.2537
                      },
                      {
                        "Time": 1700013600,
                        "Close": 8.0844
                      },
                      {
                        "Time": 1700010000,
                        "Close": 8.1701
                      },
                      {
                        "Time": 1700006400,
                        "Close": 8.2743
                      },
                      {
                        "Time": 1700002800,
                        "Close": 8.4127
                      },
                      {
                        "Time": 1699999200,
                        "Close": 8.3796
                      },
                      {
                        "Time": 1699995600,
                        "Close": 8.4039
                      },
                      {
                        "Time": 1699992000,
                        "Close": 8.3183
                      },
                      {
                        "Time": 1699988400,
                        "Close": 8.3666
                      }
                    ],
                    "equivalent": 0.35996277,
                    "high": 8.68,
                    "last24Price": 8.1423,
                    "lastPrice": 7.7925,
                    "lastUpdated": 1700025221,
                    "low": 7.7616,
                    "symbol": "ADA/LCX",
                    "usdVolume": 1828.49928314,
                    "volume": 5079.69
                  },
                  "message": "Tickers fetched successfully",
                  "status": "success"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Javascript",
            "source": "var axios = require(\"axios\");\nvar params = { pair: \"ETH/BTC\" };\n\nvar config = {\n  method: \"post\",\n  url: \"https://exchange-api.lcx.com/api/ticker\",\n  headers: {\n    \"Content-Type\": \"application/json\",\n  },\n  params,\n};\n\naxios(config)\n  .then(function (response) {\n    console.log(JSON.stringify(response.data));\n  })\n  .catch(function (error) {\n    console.log(error);\n  });\n\naxios(config)\n  .then(function (response) {\n    console.log(JSON.stringify(response.data))\n  })\n  .catch(function (error) {\n    console.log(error)\n  })\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://exchange-api.lcx.com/api/ticker\"\nparams = {\"pair\": \"ETH/BTC\"}\nheaders = {\"Content-Type\": \"application/json\"}\n\nresponse = requests.post(url, headers=headers, params=params)\nprint(response.json())\n"
          },
          {
            "lang": "Java",
            "source": "import java.io.IOException;\nimport java.net.URLEncoder;\nimport java.nio.charset.StandardCharsets;\nimport java.util.HashMap;\nimport java.util.Map;\nimport okhttp3.HttpUrl;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\npublic class Main {\n    public static void main(String[] args) throws IOException {\n        OkHttpClient client = new OkHttpClient();\n\n        String url = \"https://exchange-api.lcx.com/api/ticker\";\n        Map<String, String> params = new HashMap<>();\n        params.put(\"pair\", \"ETH/BTC\");\n\n        HttpUrl.Builder urlBuilder = HttpUrl.parse(url).newBuilder();\n        for (Map.Entry<String, String> entry : params.entrySet()) {\n            urlBuilder.addQueryParameter(entry.getKey(), entry.getValue());\n        }\n        String fullUrl = urlBuilder.build().toString();\n\n        Request request = new Request.Builder()\n                .url(fullUrl)\n                .post(RequestBody.create(null, new byte[0]))\n                .addHeader(\"Content-Type\", \"application/json\")\n                .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.body().string());\n        }\n    }\n}\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n  \"bytes\"\n  \"fmt\"\n  \"net/http\"\n)\n\nfunc main() {\n  url := \"https://exchange-api.lcx.com/api/ticker\"\n  pair := \"ETH/BTC\"\n\n  resp, err := http.Post(url+\"?pair=\"+pair, \"application/json\", bytes.NewBuffer([]byte(\"\")))\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  defer resp.Body.Close()\n\n  fmt.Println(resp)\n}\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$url = \"https://exchange-api.lcx.com/api/ticker\";\n$params = [\"pair\" => \"ETH/BTC\"];\n$headers = [\"Content-Type: application/json\"];\n\n$ch = curl_init($url . '?' . http_build_query($params));\ncurl_setopt($ch, CURLOPT_POST, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$response = curl_exec($ch);\n\nif (curl_errno($ch)) {\n    echo 'Error: ' . curl_error($ch);\n}\n\ncurl_close($ch);\n\necho $response;\n?>\n"
          }
        ]
      }
    },
    "/api/create": {
      "post": {
        "tags": [
          "Trading API"
        ],
        "summary": "New order",
        "description": "The Create an Order endpoint enables you to create buy/sell orders on limit/market on LCX Exchange.",
        "security": [
          {
            "API Key": [],
            "Signature": [],
            "Timestamp": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/CreateOrder"
              },
              "example": {
                "Pair": "LCX/ETH",
                "Amount": 100,
                "Price": 0.004,
                "OrderType": "MARKET",
                "Side": "SELL"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/CreateOrder"
                },
                "example": {
                  "data": {
                    "Tx": null,
                    "Id": "3dae4495-a219-40dc-99d8-99c49c1d3810",
                    "Pair": "AVAX/USDC",
                    "BasePair": "",
                    "QuotePair": "",
                    "Price": 1,
                    "Amount": 10,
                    "Side": "SELL",
                    "OrderType": "LIMIT",
                    "Status": "OPEN",
                    "Filled": 0,
                    "Average": 1,
                    "Total": 0,
                    "CreatedAt": 1699955183,
                    "UpdatedAt": 1699955183,
                    "UserId": "7d83f7c6-8b51-4388-bd4d-e2e5241fd253",
                    "Fee": 0,
                    "IsFeeInLCX": true,
                    "FeeLevel": 0,
                    "FilledPer": 0,
                    "User": {
                      "Id": "",
                      "EmailId": "",
                      "LastName": "",
                      "FirstName": "",
                      "FeeInLCX": false,
                      "FeeLevel": 0,
                      "Status": false,
                      "Country": "",
                      "Referral_UserId": "",
                      "ReferralStatus": false,
                      "CreatedAt": "0001-01-01T00:00:00Z",
                      "UpdatedAt": "0001-01-01T00:00:00Z",
                      "Wallets": null,
                      "Trades": null
                    },
                    "Referral_UserId": "00000000-0000-0000-0000-000000000000",
                    "ClientOrderId": "00000000-0000-0000-0000-000000000000"
                  },
                  "message": "Order created successfully",
                  "status": "success"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Javascript",
            "source": "var axios = require('axios')\nvar data = JSON.stringify({\n  Pair: 'LCX/ETH',\n  Amount: 100,\n  Price: 0.004,\n  OrderType: 'MARKET',\n  Side: 'SELL',\n})\n\nvar config = {\n  method: 'post',\n  url: 'https://exchange-api.lcx.com/api/create',\n  headers: {\n    // auth headers\n  },\n  data: data,\n}\n\naxios(config)\n  .then(function (response) {\n    console.log(JSON.stringify(response.data))\n  })\n  .catch(function (error) {\n    console.log(error)\n  })\n"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nurl = 'https://exchange-api.lcx.com/api/create'\ndata = {\n    \"Pair\": \"LCX/ETH\",\n    \"Amount\": 100,\n    \"Price\": 0.004,\n    \"OrderType\": \"MARKET\",\n    \"Side\": \"SELL\"\n}\n\nheaders = {\n    'Content-Type': 'application/json',\n    # Add authentication headers here\n}\n\nresponse = requests.post(url, data=json.dumps(data), headers=headers)\n\nif response.status_code == 200:\n    print(json.dumps(response.json()))\nelse:\n    print(response.text)\n"
          },
          {
            "lang": "Java",
            "source": "import org.apache.http.HttpResponse;\nimport org.apache.http.client.methods.HttpPost;\nimport org.apache.http.entity.StringEntity;\nimport org.apache.http.impl.client.CloseableHttpClient;\nimport org.apache.http.impl.client.HttpClients;\n\nimport java.io.BufferedReader;\nimport java.io.InputStreamReader;\n\npublic class Main {\n    public static void main(String[] args) {\n        CloseableHttpClient httpClient = HttpClients.createDefault();\n        HttpPost httpPost = new HttpPost(\"https://exchange-api.lcx.com/api/create\");\n\n        StringEntity entity = new StringEntity(\"{\\\"Pair\\\": \\\"LCX/ETH\\\", \\\"Amount\\\": 100, \\\"Price\\\": 0.004, \\\"OrderType\\\": \\\"MARKET\\\", \\\"Side\\\": \\\"SELL\\\"}\", \"UTF-8\");\n        entity.setContentEncoding(\"application/json\");\n        httpPost.setEntity(entity);\n\n        // Add authentication headers here\n\n        try {\n            HttpResponse response = httpClient.execute(httpPost);\n            BufferedReader rd = new BufferedReader(new InputStreamReader(response.getEntity().getContent()));\n\n            StringBuilder result = new StringBuilder();\n            String line;\n            while ((line = rd.readLine()) != null) {\n                result.append(line);\n            }\n\n            System.out.println(result.toString());\n        } catch (Exception e) {\n            e.printStackTrace();\n        }\n    }\n}\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n  \"bytes\"\n  \"fmt\"\n  \"net/http\"\n)\n\nfunc main() {\n  url := \"https://exchange-api.lcx.com/api/create\"\n  payload := []byte(`{\n    \"Pair\": \"LCX/ETH\",\n    \"Amount\": 100,\n    \"Price\": 0.004,\n    \"OrderType\": \"MARKET\",\n    \"Side\": \"SELL\"\n  }`)\n\n  req, err := http.NewRequest(\"POST\", url, bytes.NewBuffer(payload))\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  req.Header.Set(\"Content-Type\", \"application/json\")\n\n  // Add authentication headers here\n\n  client := &http.Client{}\n  resp, err := client.Do(req)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  defer resp.Body.Close()\n\n  if resp.Status == \"200 OK\" {\n    // Read and print the response body\n    buf := new(bytes.Buffer)\n    buf.ReadFrom(resp.Body)\n    fmt.Println(buf.String())\n  } else {\n    fmt.Println(\"Error:\", resp.Status)\n  }\n}\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$url = 'https://exchange-api.lcx.com/api/create';\n$data = json_encode([\n    'Pair' => 'LCX/ETH',\n    'Amount' => 100,\n    'Price' => 0.004,\n    'OrderType' => 'MARKET',\n    'Side' => 'SELL',\n]);\n\n$options = [\n    'http' => [\n        'header' => \"Content-Type: application/json\\r\\n\",\n        'method' => 'POST',\n        'content' => $data,\n    ],\n];\n\n// Add authentication headers here\n\n$context = stream_context_create($options);\n$response = file_get_contents($url, false, $context);\n\nif ($response !== false) {\n    echo $response;\n} else {\n    echo 'Error: ' . error_get_last();\n}\n"
          }
        ]
      }
    },
    "/api/modify": {
      "put": {
        "tags": [
          "Trading API"
        ],
        "summary": "Update order",
        "description": "This endpoint facilitates updates for any limit buy/sell orders.",
        "security": [
          {
            "API Key": [],
            "Signature": [],
            "Timestamp": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/ModifyOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/ModifyOrder"
                },
                "example": {
                  "data": {
                    "Tx": null,
                    "Id": "1c78b774-4a96-495c-be74-0dcaf5101461",
                    "Pair": "LCX/EUR",
                    "BasePair": "",
                    "QuotePair": "",
                    "Price": 89.9,
                    "Amount": 10,
                    "Side": "BUY",
                    "OrderType": "LIMIT",
                    "Status": "OPEN",
                    "Filled": 0,
                    "Average": 89.9,
                    "Total": 0,
                    "CreatedAt": 1699270525,
                    "UpdatedAt": 1699526526,
                    "UserId": "7d83f7c6-8b51-4388-bd4d-e2e5241fd253",
                    "Fee": 0,
                    "IsFeeInLCX": true,
                    "FeeLevel": 0,
                    "FilledPer": 0,
                    "User": {
                      "Id": "",
                      "EmailId": "",
                      "LastName": "",
                      "FirstName": "",
                      "FeeInLCX": false,
                      "FeeLevel": 0,
                      "Status": false,
                      "Country": "",
                      "Referral_UserId": "",
                      "ReferralStatus": false,
                      "CreatedAt": "0001-01-01T00:00:00Z",
                      "UpdatedAt": "0001-01-01T00:00:00Z",
                      "Wallets": null,
                      "Trades": null
                    },
                    "Referral_UserId": "00000000-0000-0000-0000-000000000000",
                    "ClientOrderId": "00000000-0000-0000-0000-000000000000"
                  },
                  "message": "Order updated successfully",
                  "status": "success"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Javascript",
            "source": "var axios = require('axios')\nvar data = JSON.stringify({\n  OrderId: '9f898d18-0980-4fb3-b18c-eeb39fc20324',\n  Amount: 100,\n  Price: 0.004\n})\n\nvar config = {\n  method: 'put',\n  url: 'https://exchange-api.lcx.com/api/modify',\n  headers: {\n    // auth headers\n  },\n  data: data,\n}\n\naxios(config)\n  .then(function (response) {\n    console.log(JSON.stringify(response.data))\n  })\n  .catch(function (error) {\n    console.log(error)\n  })\n"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nurl = 'https://exchange-api.lcx.com/api/modify'\ndata = {\n    \"OrderId\": \"9f898d18-0980-4fb3-b18c-eeb39fc20324\",\n    \"Amount\": 100,\n    \"Price\": 0.004\n}\n\nheaders = {\n    'Content-Type': 'application/json',\n    # Add authentication headers here\n}\n\nresponse = requests.put(url, data=json.dumps(data), headers=headers)\n\nif response.status_code == 200:\n    print(json.dumps(response.json()))\nelse:\n    print(response.text)\n"
          },
          {
            "lang": "Java",
            "source": "import com.google.gson.Gson;\nimport okhttp3.MediaType;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.RequestBody;\nimport okhttp3.Response;\n\nimport java.io.IOException;\n\npublic class Main {\n    public static void main(String[] args) throws IOException {\n        OkHttpClient client = new OkHttpClient();\n        Gson gson = new Gson();\n\n        String url = \"https://exchange-api.lcx.com/api/modify\";\n        String orderId = \"9f898d18-0980-4fb3-b18c-eeb39fc20324\";\n        double amount = 100;\n        double price = 0.004;\n\n        ModifyRequestData data = new ModifyRequestData(orderId, amount, price);\n        String jsonData = gson.toJson(data);\n\n        Request request = new Request.Builder()\n                .url(url)\n                .put(RequestBody.create(MediaType.parse(\"application/json\"), jsonData))\n                .addHeader(\"Content-Type\", \"application/json\")\n                // Add your authentication headers here\n                .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.body().string());\n        }\n    }\n\n    private static class ModifyRequestData {\n        private String OrderId;\n        private double Amount;\n        private double Price;\n\n        public ModifyRequestData(String orderId, double amount, double price) {\n            OrderId = orderId;\n            Amount = amount;\n            Price = price;\n        }\n    }\n}\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n  \"bytes\"\n  \"fmt\"\n  \"net/http\"\n)\n\nfunc main() {\n  url := \"https://exchange-api.lcx.com/api/modify\"\n  payload := []byte(`{\n    \"OrderId\": \"9f898d18-0980-4fb3-b18c-eeb39fc20324\",\n    \"Amount\": 100,\n    \"Price\": 0.004\n  }`)\n\n  req, err := http.NewRequest(\"PUT\", url, bytes.NewBuffer(payload))\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  req.Header.Set(\"Content-Type\", \"application/json\")\n\n  // Add authentication headers here\n\n  client := &http.Client{}\n  resp, err := client.Do(req)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  defer resp.Body.Close()\n\nif resp.Status == \"200 OK\" {\n    // Read and print the response body\n    buf := new(bytes.Buffer)\n    buf.ReadFrom(resp.Body)\n    fmt.Println(buf.String())\n  } else {\n    fmt.Println(\"Error:\", resp.Status)\n  }\n}\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$url = 'https://exchange-api.lcx.com/api/modify';\n$data = json_encode([\n    'OrderId' => '9f898d18-0980-4fb3-b18c-eeb39fc20324',\n    'Amount' => 100,\n    'Price' => 0.004,\n]);\n\n$options = [\n    'http' => [\n        'header' => \"Content-Type: application/json\\r\\n\",\n        'method' => 'PUT',\n        'content' => $data,\n    ],\n];\n\n// Add authentication headers here\n\n$context = stream_context_create($options);\n$response = file_get_contents($url, false, $context);\n\nif ($response !== false) {\n    echo $response;\n} else {\n    echo 'Error: ' . error_get_last();\n}\n"
          }
        ]
      }
    },
    "/api/cancel": {
      "delete": {
        "tags": [
          "Trading API"
        ],
        "summary": "Cancel order",
        "description": "This endpoint enables the cancellation of exchange orders using their corresponding Order Id.",
        "security": [
          {
            "API Key": [],
            "Signature": [],
            "Timestamp": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "orderId",
            "schema": {
              "type": "string"
            },
            "description": "String specifying which order should be updated",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/CancelOrder"
                },
                "example": {
                  "data": {
                    "Tx": null,
                    "Id": "bb6fc517-9d0b-4c8c-a913-4f6aa8e2d25c",
                    "Pair": "LCX/EUR",
                    "BasePair": "",
                    "QuotePair": "",
                    "Price": 88.5,
                    "Amount": 10,
                    "Side": "BUY",
                    "OrderType": "LIMIT",
                    "Status": "CANCEL",
                    "Filled": 0,
                    "Average": 88.5,
                    "Total": 0,
                    "CreatedAt": 1699270447,
                    "UpdatedAt": 1699525860,
                    "UserId": "7d83f7c6-8b51-4388-bd4d-e2e5241fd253",
                    "Fee": 0,
                    "IsFeeInLCX": false,
                    "FeeLevel": 0,
                    "FilledPer": 0,
                    "User": {
                      "Id": "",
                      "EmailId": "",
                      "LastName": "",
                      "FirstName": "",
                      "FeeInLCX": false,
                      "FeeLevel": 0,
                      "Status": false,
                      "Country": "",
                      "Referral_UserId": "",
                      "ReferralStatus": false,
                      "CreatedAt": "0001-01-01T00:00:00Z",
                      "UpdatedAt": "0001-01-01T00:00:00Z",
                      "Wallets": null,
                      "Trades": null
                    },
                    "Referral_UserId": "00000000-0000-0000-0000-000000000000",
                    "ClientOrderId": "00000000-0000-0000-0000-000000000000"
                  },
                  "message": "Order removed successfully",
                  "status": "success"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Javascript",
            "source": "var axios = require(\"axios\");\nvar params = { orderId: \"e8737c4a-3804-461c-9e67-4fe0af5aeb06\" };\n\nvar config = {\n  method: \"delete\",\n  url: \"https://exchange-api.lcx.com/api/cancel\",\n  headers: {\n    // auth headers\n  },\n  params,\n};\n\naxios(config)\n  .then(function (response) {\n    console.log(JSON.stringify(response.data));\n  })\n  .catch(function (error) {\n    console.log(error);\n  });\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://exchange-api.lcx.com/api/cancel'\nparams = {'orderId': 'e8737c4a-3804-461c-9e67-4fe0af5aeb06'}\nheaders = {\n    'Content-Type': 'application/json',\n    # Add your authentication headers here\n}\n\nresponse = requests.delete(url, headers=headers, params=params)\nprint(response.json())\n"
          },
          {
            "lang": "Java",
            "source": "import okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\nimport java.io.IOException;\n\npublic class Main {\n    public static void main(String[] args) throws IOException {\n        OkHttpClient client = new OkHttpClient();\n\n        String url = \"https://exchange-api.lcx.com/api/cancel\";\n        String orderId = \"e8737c4a-3804-461c-9e67-4fe0af5aeb06\";\n\n        Request request = new Request.Builder()\n                .url(url + \"?orderId=\" + orderId)\n                .delete()\n                .addHeader(\"Content-Type\", \"application/json\")\n                // Add your authentication headers here\n                .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.body().string());\n        }\n    }\n}\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n)\n\nfunc main() {\n  url := \"https://exchange-api.lcx.com/api/cancel\"\n  orderID := \"e8737c4a-3804-461c-9e67-4fe0af5aeb06\"\n\n  resp, err := http.Delete(url + \"?orderId=\" + orderID)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  defer resp.Body.Close()\n\n  fmt.Println(resp)\n}\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$url = 'https://exchange-api.lcx.com/api/cancel';\n$params = ['orderId' => 'e8737c4a-3804-461c-9e67-4fe0af5aeb06'];\n$headers = [\n    'Content-Type: application/json',\n    // Add your authentication headers here\n];\n\n$ch = curl_init($url . '?' . http_build_query($params));\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'DELETE');\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$response = curl_exec($ch);\n\nif (curl_errno($ch)) {\n    echo 'Error: ' . curl_error($ch);\n}\n\ncurl_close($ch);\n\necho $response;\n?>\n"
          }
        ]
      }
    },
    "/order/cancel-all": {
      "delete": {
        "tags": [
          "Trading API"
        ],
        "summary": "Cancel All orders",
        "description": "Cancel a list of  orders by order Ids",
        "security": [
          {
            "API Key": [],
            "Signature": [],
            "Timestamp": []
          }
        ],
        "parameters": [
          {
            "name": "orderIds",
            "in": "query",
            "description": "List of order ids. Maximum of 25 orders can be deleted at once.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "70aba300-0990-481d-ad76-7bd499f473ab&orderIds=ecaf000a-8f4c-459a-b105-784c0e0436df"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/CancelAllOrders"
                },
                "example": {
                  "message": "2 orders cancelled successfully",
                  "status": "success"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Javascript",
            "source": "var axios = require(\"axios\");\nvar params = {\n  orderIds: [\n    \"70aba300-0990-481d-ad76-7bd499f473ab\",\n    \"ecaf000a-8f4c-459a-b105-784c0e0436df\",\n  ],\n};\n\nconst transformRequestOptions = (params) => {\n  let options = \"\";\n  for (const key in params) {\n    if (typeof params[key] !== \"object\" && params[key]) {\n      options += `${key}=${params[key]}&`;\n    } else if (\n      typeof params[key] === \"object\" &&\n      params[key] &&\n      params[key].length\n    ) {\n      params[key].forEach((el) => {\n        options += `${key}=${el}&`;\n      });\n    }\n  }\n  return options ? options.slice(0, -1) : options;\n};\n\nvar config = {\n  method: \"delete\",\n  url: \"https://exchange-api.lcx.com/order/cancel-all\",\n  headers: {\n    // auth headers\n  },\n  params,\n  paramsSerializer: (params) => transformRequestOptions(params),\n};\n\naxios(config)\n  .then(function (response) {\n    console.log(JSON.stringify(response.data));\n  })\n  .catch(function (error) {\n    console.log(error);\n  });\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://exchange-api.lcx.com/order/cancel-all\"\nheaders = {\n    # Add your auth headers here\n}\n\nparams = {\n    'orderIds': [\n        '70aba300-0990-481d-ad76-7bd499f473ab',\n        'ecaf000a-8f4c-459a-b105-784c0e0436df',\n    ],\n}\n\nresponse = requests.delete(url, headers=headers, params=params)\n\nprint(response.json())\n"
          },
          {
            "lang": "Java",
            "source": "import java.util.Arrays;\nimport java.util.HashMap;\nimport java.util.Map;\nimport java.util.stream.Collectors;\n\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\npublic class CancelOrder {\n\n    public static void main(String[] args) throws Exception {\n        OkHttpClient client = new OkHttpClient();\n\n        String url = \"https://exchange-api.lcx.com/order/cancel-all\";\n        // Add your auth headers here\n        Map<String, String> headers = new HashMap<>();\n\n        Map<String, Object> params = new HashMap<>();\n        params.put(\"orderIds\", Arrays.asList(\"70aba300-0990-481d-ad76-7bd499f473ab\", \"ecaf000a-8f4c-459a-b105-784c0e0436df\"));\n\n        String queryString = params.entrySet().stream()\n                .map(entry -> entry.getKey() + \"=\" + entry.getValue())\n                .collect(Collectors.joining(\"&\"));\n\n        String fullUrl = url + \"?\" + queryString;\n\n        Request request = new Request.Builder()\n                .url(fullUrl)\n                .headers(Headers.of(headers))\n                .delete()\n                .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.body().string());\n        }\n    }\n}\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"net/url\"\n  \"strings\"\n)\n\nfunc main() {\n  url := \"https://exchange-api.lcx.com/order/cancel-all\"\n  // Add your auth headers here\n  headers := make(map[string]string)\n\n  params := url.Values{}\n  params.Add(\"orderIds\", \"70aba300-0990-481d-ad76-7bd499f473ab\")\n  params.Add(\"orderIds\", \"ecaf000a-8f4c-459a-b105-784c0e0436df\")\n\n  fullURL := fmt.Sprintf(\"%s?%s\", url, params.Encode())\n\n  req, err := http.NewRequest(\"DELETE\", fullURL, nil)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n\n  for key, value := range headers {\n    req.Header.Set(key, value)\n  }\n\n  client := &http.Client{}\n  resp, err := client.Do(req)\n  if err != nil {\n    fmt.Println(err)\n    return\n  }\n  defer resp.Body.Close()\n\n  // Read the response body here if needed\n  // responseBody, err := ioutil.ReadAll(resp.Body)\n  // fmt.Println(string(responseBody))\n\n  fmt.Println(resp.Status)\n}\n"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n$url = 'https://exchange-api.lcx.com/order/cancel-all';\n// Add your auth headers here\n$headers = [];\n\n$params = [\n    'orderIds' => [\n        '70aba300-0990-481d-ad76-7bd499f473ab',\n        'ecaf000a-8f4c-459a-b105-784c0e0436df',\n    ],\n];\n\n$options = [\n    'http' => [\n        'method' => 'DELETE',\n        'header' => implode(\"\\r\\n\", $headers),\n    ],\n];\n\n$queryString = http_build_query($params);\n$fullUrl = $url . '?' . $queryString;\n\n$response = file_get_contents($fullUrl, false, stream_context_create($options));\n\n// Handle the response as needed\necho $response;\n"
          }
        ]
      }
    },
    "/api/open": {
      "get": {
        "tags": [
          "Trading API"
        ],
        "summary": "Open orders",
        "description": "This endpoint grants access to all pending orders that are ready for execution.",
        "security": [
          {
            "API Key": [],
            "Signature": [],
            "Timestamp": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "description": "Page index, first page = 1, fixed page size = 100",
            "example": 1,
            "default": 1,
            "required": true
          },
          {
            "in": "query",
            "name": "pair",
            "schema": {
              "type": "string"
            },
            "description": "Name of the pair",
            "example": "LCX/USDC"
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "type": "integer"
            },
            "description": "Integer specifying from (i.e. showing those later in time) which time all orders should be returned. Should be a timestamp in milliseconds since 1 Jan 1970.",
            "example": 1689193800
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "type": "integer"
            },
            "description": "Integer specifying up to (i.e. showing those earlier in time) which time all orders should be returned. Should be a timestamp in milliseconds since 1 Jan 1970.",
            "example": 1689193800
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/OpenOrders"
                },
                "example": {
                  "data": [
                    {
                      "Tx": null,
                      "Id": "bb6fc517-9d0b-4c8c-a913-4f6aa8e2d25c",
                      "Pair": "LCX/EUR",
                      "BasePair": "",
                      "QuotePair": "",
                      "Price": 88.5,
                      "Amount": 10,
                      "Side": "BUY",
                      "OrderType": "LIMIT",
                      "Status": "OPEN",
                      "Filled": 0,
                      "Average": 0,
                      "Total": 0,
                      "CreatedAt": 0,
                      "UpdatedAt": 1699525860,
[...]
